<!-- Logout and username -->
<div class="et-user-actions">
    <p th:text="${user.firstName}+' '+${user.lastName}">Gino Gino</p>
    <!-- TODO: Implement logout -->
    <a>Logout</a>
</div>
<!-- Header -->
<div class="et-header">
    <h1 class="et-logo">ETTORE</h1>
    <div class="et-breadcrumbs">
        <th:block th:each="breadcrumb : ${breadcrumbs}">
            <a th:href="${breadcrumb.getUrl()}" th:text="${breadcrumb.getName()}">Home</a>
            <!-- If the breadcrumb is the last one, don't add the / -->
            <th:block th:if="${breadcrumb != breadcrumbs.get(breadcrumbs.size()-1)}">
                <span>/</span>
            </th:block>
        </th:block>
    </div>
</div>