<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">New Course</title>
    <meta th:replace="common/meta"/>
</head>
<body>
<!-- Header with logo, logout and breadcrumbs -->
<div th:replace="common/header"></div>
<!-- Content -->
<div class="et-flex-centered gap-4 px-20">
    <!-- Form -->
    <form class="et-card p-5" method="POST">
        <div class="flex justify-start justify-items-center gap-2 ">
            <select class="text-xl font-bold w-1/6" name="category">
                <option th:selected="${course!=null ? course.getCategory().toString()=='Maths':false}" value="Maths">
                    <span>Maths</span>
                </option>
                <option th:selected="${course!=null ? course.getCategory().toString()=='Science':false}"
                        value="Science">
                    <span>Science</span>
                </option>
                <option th:selected="${course!=null ? course.getCategory().toString()=='History':false}"
                        value="History">
                    <span>History</span>
                </option>
                <option th:selected="${course!=null ? course.getCategory().toString()=='Geography':false}"
                        value="Geography"><span>Geography</span></option>
                <option th:selected="${course!=null ? course.getCategory().toString()=='Art':false}" value="Art"><span>Art</span>
                </option>
                <option th:selected="${course!=null ? course.getCategory().toString()=='Music':false}" value="Music">
                    <span>Music</span></option>
                <option th:selected="${course!=null ? course.getCategory().toString()=='Languages':false}"
                        value="Languages"><span>Languages</span></option>
            </select>
            <input class="text-xl font-bold w-1/3" name="name" onchange="changeInput()" placeholder="Course name"
                   required
                   style="border: 1px solid #6b7280 !important; border-radius: 0 !important"
                   th:value="${course!=null ? course.getName(): ''}"
                   type="text"
            >
            <select class="w-1/6" name="startingYear">
                <option th:selected="${course!=null ? course.getStartingYear()==2023 : false}" value=2023>2023/2024
                </option>
                <option th:selected="${course!=null ? course.getStartingYear()==2022 : false}" value=2022>2022/2023
                </option>
                <option th:selected="${course!=null ? course.getStartingYear()==2021 : false}" value=2021>2021/2022
                </option>
            </select>
            <button id="btn-save"
                    th:class="${course!=null ? 'et-button-good ml-auto my-auto h-9 px-2 w-1/6' : 'et-button-good ml-auto my-auto h-9 px-2 w-1/6 et-button-disabled'}"
                    type="submit">
                Save
            </button>
        </div>
        <textarea class="mt-1 w-full" maxlength="255" name="description"
                  placeholder="Course description"
                  style="border: 1px solid #6b7280 !important; border-radius: 0 !important">[[${course!=null ? course.getDescription(): ''}]]</textarea>
        <div class="flex flex-row mt-1">
            <button class="et-button-bad h-9 px-2 mr-auto"
                    onclick="window.location.href=this.getAttribute('data-redirect')"
                    th:data-redirect="${btnUndo}"
                    type="button">
                Delete course
            </button>
        </div>
    </form>
    <div th:replace="common/errors"></div>
</div>
</body>
<script>
    function changeInput() {
        let saveButton = document.getElementById("btn-save");
        let courseName = document.getElementsByName("name")[0].value;
        if (courseName.toString().length > 0) {
            saveButton.classList.remove("et-button-disabled");
            return;
        }
        saveButton.classList.add("et-button-disabled");
    }
</script>
</html>