<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dettaglio corso</title>
        <meta th:replace="common/imports"/>
    </head>
    <body>
        <!-- Header with logo, logout and breadcrumbs -->
        <div th:replace="common/header"></div>
        <!-- Base href for redirections -->
        <base th:href="'/courses/'+${course.getId()}+'/'"/>
        <!-- Content -->
        <div class="et-content gap-4">
            <!-- Course info -->
            <div class="et-card p-5">
                <div class="flex flex-row place-content-between justify-items-center">
                    <div class="flex flex-row justify-items-center gap-5">
                        <!-- Icon -->
                        <i th:class="'et-icon-course fa-2x '+ ${course.getIcon()}" class="fa fa-book fa-2x"></i>
                        <!-- Title -->
                        <p th:text="${course.getName()}" class="text-2xl font-bold">Analisi di segnali</p>
                        <!-- Year -->
                        <p th:text="${course.formatPeriod()}" class="text-xl">(2021/2022)</p>
                    </div>
                    <!-- Edit button -->
                    <button onclick="window.location.href='edit'" class="et-button-primary w-28">Modifica</button>
                </div>
                <!-- Description -->
                <p th:text="${course.getDescription()}" class="mt-4">
                    Descrizione del cor.
                </p>
            </div>
            <!-- Lessons and Quiz -->
            <div class="grid grid-cols-2 gap-4">
                <a href="lessons/" class="et-flex-centered flex-col et-card px-5 py-10">
                    <i class="fa fa-file-alt fa-2x"></i>
                    <p class="text-xl">Lezioni</p>
                </a>
                <a href="quiz/" class="et-flex-centered flex-col et-card px-5 py-10">
                    <i class="fa fa-clipboard-check fa-2x"></i>
                    <p class="text-xl">Quiz</p>
                </a>
            </div>
            <!-- Students -->
            <a href="students/" class="et-flex-centered flex-col et-card px-5 py-10">
                <i class="fa fa-users fa-2x"></i>
                <p class="text-xl">Studenti</p>
            </a>
        </div>
    </body>
</html>