<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <title>Ettore</title>
</head>
<body>
<!-- Username and logout button -->
<div class="et-user-actions">
    <p>Gino Gino</p>
    <a>Logout</a>
</div>
<!-- Header -->
<div class="et-header">
    <h1 class="et-logo">ETTORE</h1>
    <div class="et-breadcrumbs">
        <a href="#">Home</a>
        <span>/</span>
        <a href="#">Login</a>
    </div>
</div>
<!-- Content -->
<div class="et-content gap-4">
    <!-- Course info -->
    <div class="et-card p-5">
        <div class="flex flex-row place-content-between justify-items-center">
            <div class="flex flex-row justify-items-center gap-5">
                <!-- Icon -->
                <i class="et-icon-course fa fa-book fa-2x"></i>
                <!-- Title -->
                <p class="text-2xl font-bold" >Analisi di segnali</p>
                <!-- Year -->
                <p class="text-xl">(2021/2022)</p>
            </div>
            <!-- Edit button -->
            <button class="et-button-primary w-28"> Modifica </button>
        </div>
        <!-- Description -->
        <p class="mt-4">
            Descrizione del cor.
        </p>
    </div>
    <!-- Lessons and Quiz -->
    <div class="grid grid-cols-2 gap-4">
        <button class="et-flex-centered flex-col et-card px-5 py-10">
            <i class="fa fa-file-alt fa-2x"></i>
            <p class="text-xl">Lezioni</p>
        </button>
        <button class="et-flex-centered flex-col et-card px-5 py-10">
            <i class="fa fa-clipboard-check fa-2x"></i>
            <p class="text-xl">Quiz</p>
        </button>
    </div>
    <!-- Students -->
    <button class="et-flex-centered flex-col et-card px-5 py-10">
        <i class="fa fa-users fa-2x"></i>
        <p class="text-xl">Studenti</p>
    </button>

</div>
</body>
</html>