<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista dei corsi</title>
        <meta th:replace="common/imports"/>
    </head>
    <body>
        <!-- Header with logo, logout and breadcrumbs -->
        <div th:replace="common/header"></div>
        <!-- Base href for redirections -->
        <base href="/courses/"/>
        <!-- Content -->
        <div class="et-content">
            <button class="et-button-primary w-full h-12" onclick="window.location.href='add'"> Nuovo corso </button>
            <!-- Iterate over courses -->
            <div th:each="course: ${courses}" class="et-card p-5 w-100">
                <div class="flex flex-row justify-items-center gap-5">
                    <!-- Icon -->
                    <i th:class="'et-icon-course fa-2x '+ ${course.getIcon()}" class="fa fa-book fa-2x"></i>
                    <!-- Title -->
                    <a th:text="${course.getName()}" th:href="${course.getId()}+'/'" class="text-2xl font-bold">Analisi di segnali</a>
                    <!-- Year -->
                    <p th:text="${course.formatPeriod()}" class="text-xl">(2021/2022)</p>
                </div>
                <!-- Description -->
                <p th:text="${course.description}" class="mt-4">
                    Descrizione del corso Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non est magna.
                </p>
            </div>
        </div>
    </body>
</html>