<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Log In</title>
        <meta th:replace="common/imports"/>
    </head>
    <body class="et-flex-centered flex-col h-screen" onload="updateStyle()">
        <div class="et-card et-flex-centered flex-col p-12">
            <h1 class="et-logo">ETTORE</h1>
            <form class="et-flex-centered flex-col mt-12" method="post" action="/login">
                <div class="flex flex-col">
                    <label class="text-sm">Email</label>
                    <input type="text" name="email" oninput="updateStyle()">
                </div>
                <div class="flex flex-col mt-8">
                    <label class="text-sm">Password</label>
                    <input type="password" name="password" oninput="updateStyle()">
                </div>
                <span style="visibility: hidden" class="text-red-700 self-start" id="email-not-ok">Invalid Email</span>
                <span style="visibility: hidden" class="text-red-700 self-start" id="confirm-password-not-ok">Password too short</span>
                <button class="et-button-primary et-button-disabled w-full h-12 mt-2" name="login">Login</button>
            </form>
            <hr class="w-2/3 my-8 bg-text-light"/>
            <button class="et-button-secondary w-full h-12" name="register" onclick="document.location = '/register'">Registrati</button>
        </div>
    </body>
</html>
<script>
    // Don't show email error if email has never been edited so far
    let isEmailUntouched = true;
    let isPasswordUntouched = true;

    // Updates the clickable status of the submit button and the visibility of the confirm password error
    function updateStyle() {
        if (document.querySelector("input[name='email']").value !== "") {
            isEmailUntouched = false;
        }

        if (document.querySelector("input[name='password']").value !== "") {
            isPasswordUntouched = false;
        }

        let loginButton = document.querySelector("button[name='login']");
        if (canLogin()) {
            loginButton.classList.remove("et-button-disabled");
        } else {
            loginButton.classList.add("et-button-disabled");
        }

        let emailError = document.querySelector("#email-not-ok");
        if (isEmailUntouched || isEmailOk()) {
            emailError.style = "visibility: hidden";
        } else {
            emailError.style = "";
        }

        let confirmPasswordError = document.querySelector("#confirm-password-not-ok");
        if (isPasswordUntouched || isPasswordOk()) {
            confirmPasswordError.style = "visibility: hidden";
        } else {
            confirmPasswordError.style = "";
        }
    }

    // Returns true if the login button should be clickable
    function canLogin() {
        return isEmailOk() && isPasswordOk();
    }

    function isEmailOk() {
        let value = document.querySelector("input[name='email']").value;
        return /^(?=.{1,64}@)[A-Za-z0-9_-]+(\.[A-Za-z0-9_-]+)*@[^-][A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,})$/.test(value);
    }

    function isPasswordOk() {
        let value = document.querySelector("input[name='password']").value;
        return value.length >= 8;
    }
</script>