<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Log In</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="et-flex-centered flex-col h-screen">
        <div class="et-card et-flex-centered flex-col p-12">
            <h1 class="et-logo">ETTORE</h1>
            <form class="et-flex-centered flex-col mt-12" method="post" action="/login">
                <div class="flex flex-col">
                    <label class="text-sm">Email</label>
                    <input type="text">
                </div>
                <div class="flex flex-col mt-8">
                    <label class="text-sm">Password</label>
                    <input type="password">
                </div>
                <button class="et-button-primary w-full h-12 mt-10">Entra</button>
            </form>
            <hr class="w-2/3 my-8 bg-text-light"/>
            <button class="et-button-secondary w-full h-12" onclick="document.location = '/register'">Registrati</button>
        </div>
    </body>
</html>