<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta th:replace="common/meta"/>
</head>
<body class="et-flex-centered flex-col h-screen" onload="updateForm()">
<div class="et-card et-flex-centered flex-col p-12">
    <h1 class="et-logo">ETTORE</h1>
    <span class="et-subtitle">REGISTER</span>
    <form class="et-flex-centered flex-col mt-8" method="post" action="/register">
        <div class="flex flex-col">
            <label class="text-sm">First name</label>
            <input type="text" name="first_name" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Last name</label>
            <input type="text" name="last_name" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Email</label>
            <input type="text" name="email" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Password</label>
            <input type="password" name="password" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Confirm password</label>
            <input type="password" name="confirm_password" oninput="updateForm()">
        </div>
        <div class="flex flex-col w-full mt-2">
            <label class="text-sm">I'm a</label>
            <div class="flex flex-row items-center">
                <input class="mr-2" type="radio" name="role" value="student" checked>
                <span>Student</span>
            </div>
            <div class="flex flex-row items-center">
                <input class="mr-2" type="radio" name="role" value="professor">
                <span>Professor</span>
            </div>
        </div>
        <span style="display: none" class="text-red-700 self-start"
              id="invalid-email-format">Invalid email format</span>
        <span style="display: none" class="text-red-700 self-start" id="password-too-short">Password is too short</span>
        <span style="display: none" class="text-red-700 self-start"
              id="passwords-dont-match">Password don't match</span>
        <button class="et-button-primary et-button-disabled w-full h-12 mt-2" id="btn-register">Register</button>
    </form>
    <div class="flex-row w-full et-already-registered mt-6">
        <span>Already a member?</span>
        <a href="/login" id="btn-goto-login">Go back to login</a>
    </div>
    <div class="w-full mt-6 bg-red-400 p-2 rounded-md" id="error" th:if="${ error != null }" th:text="${ error }"></div>

    <script>
        // Don't show password error if password never been edited so far
        let isPasswordUntouched = true;
        // Don't show email error if email has never been edited so far
        let isEmailUntouched = true;

        // Updates the clickable status of the register button and the visibility of the error messages
        function updateForm() {
            if (document.querySelector("input[name='password']").value !== "") {
                isPasswordUntouched = false;
            }
            if (document.querySelector("input[name='email']").value !== "") {
                isEmailUntouched = false;
            }

            let registerButton = document.querySelector("#btn-register");
            if (canRegister()) {
                registerButton.classList.remove("et-button-disabled");
            } else {
                registerButton.classList.add("et-button-disabled");
            }

            // This check is also done server-side, but we do it client-side first for better interactivity
            let invalidEmailFormatMsg = document.querySelector("#invalid-email-format");
            if (isEmailUntouched || isEmailFormatOk()) {
                invalidEmailFormatMsg.style = "display: none";
            } else {
                invalidEmailFormatMsg.style = "";
            }

            // This check is also done server-side, but we do it client-side first for better interactivity
            let passwordTooShortMsg = document.querySelector("#password-too-short");
            if (isPasswordUntouched || isPasswordLongEnough()) {
                passwordTooShortMsg.style = "display: none";
            } else {
                passwordTooShortMsg.style = "";
            }

            let passwordsDontMatchMsg = document.querySelector("#passwords-dont-match");
            if (doPasswordsMatch()) {
                passwordsDontMatchMsg.style = "display: none";
            } else {
                passwordsDontMatchMsg.style = "";
            }
        }

        // Returns true if the register button should be clickable
        function canRegister() {
            // These must have a non-empty value
            let textInputs = ["first_name", "last_name", "email", "password", "confirm_password"];
            for (let i = 0; i < textInputs.length; i++) {
                if (document.querySelector("input[name='" + textInputs[i] + "']").value === "") {
                    return false;
                }
            }
            return isEmailFormatOk() && isPasswordLongEnough() && doPasswordsMatch();
        }

        function isEmailFormatOk() {
            let value = document.querySelector("input[name='email']").value;
            return /^[\w.]+@[\w.]+$/.test(value);
        }

        function isPasswordLongEnough() {
            let value = document.querySelector("input[name='password']").value;
            return value.length >= 8;
        }

        function doPasswordsMatch() {
            return document.querySelector("input[name='password']").value ===
                document.querySelector("input[name='confirm_password']").value;
        }
    </script>
</div>
</body>
</html>
