<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="et-flex-centered flex-col h-screen" onload="updateForm()">
<div class="et-card et-flex-centered flex-col p-12">
    <h1 class="et-logo">ETTORE</h1>
    <span class="et-subtitle">REGISTRAZIONE</span>
    <form class="et-flex-centered flex-col mt-8" method="post" action="/register">
        <div class="flex flex-col">
            <label class="text-sm">Nome</label>
            <input type="text" name="first_name" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Cognome</label>
            <input type="text" name="last_name" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Email</label>
            <input type="text" name="email" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Password</label>
            <input type="password" name="password" oninput="updateForm()">
        </div>
        <div class="flex flex-col mt-2">
            <label class="text-sm">Conferma password</label>
            <input type="password" name="confirm_password" oninput="updateForm()">
        </div>
        <div class="flex flex-col w-full mt-2">
            <label class="text-sm">Sono un</label>
            <div class="flex flex-row items-center">
                <input class="mr-2" type="radio" name="role" value="student" checked>
                <span>Studente</span>
            </div>
            <div class="flex flex-row items-center">
                <input class="mr-2" type="radio" name="role" value="professor">
                <span>Professore</span>
            </div>
        </div>
        <span style="display: none" class="text-red-700 self-start" id="email-not-ok">Email invalida</span>
        <span style="display: none" class="text-red-700 self-start" id="password-too-short">Password troppo corta</span>
        <span style="display: none" class="text-red-700 self-start" id="confirm-password-not-ok">Password non uguali</span>
        <button class="et-button-primary et-button-disabled w-full h-12 mt-2">Registrati</button>
    </form>
    <div class="flex-row w-full et-already-registered mt-6">
        <span>Sei già registrato?</span>
        <a href="/login">Torna al login</a>
    </div>
    <div class="w-full mt-6 bg-red-400 p-2 rounded-md" th:if="${ error != null }" th:text="${ error }"></div>

    <script>
        // Don't show password error if password never been edited so far
        let isPasswordUntouched = true;
        // Don't show email error if email has never been edited so far
        let isEmailUntouched = true;

        // Updates the clickable status of the submit button and the visibility of the confirm password error
        function updateForm() {
            if (document.querySelector("input[name='password']").value !== "") {
                isPasswordUntouched = false;
            }
            if (document.querySelector("input[name='email']").value !== "") {
                isEmailUntouched = false;
            }

            let submitButton = document.querySelector("button");
            if (isSubmittable()) {
                submitButton.classList.remove("et-button-disabled");
            } else {
                submitButton.classList.add("et-button-disabled");
            }

            let passwordTooShortError = document.querySelector("#password-too-short");
            if (isPasswordUntouched || isPasswordLongEnough()) {
                passwordTooShortError.style = "display: none";
            } else {
                passwordTooShortError.style = "";
            }

            let confirmPasswordError = document.querySelector("#confirm-password-not-ok");
            if (doPasswordsMatch()) {
                confirmPasswordError.style = "display: none";
            } else {
                confirmPasswordError.style = "";
            }

            // This check is also done server-side but we do it client-side first for better interactivity
            let emailError = document.querySelector("#email-not-ok");
            if (isEmailUntouched || isEmailOk()) {
                emailError.style = "display: none";
            } else {
                emailError.style = "";
            }
        }

        // Returns true if the submit button should be clickable
        function isSubmittable() {
            // These must have a non-empty value
            let textInputs = ["first_name", "last_name", "email", "password", "confirm_password"];
            for (let i = 0; i < textInputs.length; i++) {
                if (document.querySelector("input[name='" + textInputs[i] + "']").value === "") {
                    return false;
                }
            }
            return doPasswordsMatch();
        }

        function isPasswordLongEnough() {
            let value = document.querySelector("input[name='password']").value;
            return value.length >= 8;
        }

        function isEmailOk() {
            let value = document.querySelector("input[name='email']").value;
            return /^(?=.{1,64}@)[A-Za-z0-9_-]+(\.[A-Za-z0-9_-]+)*@[^-][A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,})$/.test(value);
        }

        function doPasswordsMatch() {
            return document.querySelector("input[name='password']").value ===
                document.querySelector("input[name='confirm_password']").value;
        }
    </script>
</div>
</body>
</html>
