<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Course</title>
    <meta th:replace="common/meta"/>
    <!--<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link href="../../../static/style.css" rel="stylesheet">-->
</head>
<body onload="changeInput()">
<!-- Header with logo, logout and breadcrumbs -->
<div th:replace="common/header"></div>
<!-- Content -->
<div class="gap-4 px-20">
    <!-- Form -->
    <form method="POST">
        <!-- Card -->
        <div class="et-card flex flex-col gap-4 p-5">
            <div>
                <label class="et-label" for="title">Lesson title:</label>
                <input class="text-xl font-bold w-full" name="title" onchange="changeInput()"
                       placeholder="Lesson title"
                       required
                       style="border: 1px solid #6b7280 !important; border-radius: 0 !important"
                       th:value="${lesson!=null ? lesson.getTitle(): ''}"
                       type="text"
                >
            </div>
            <!-- Description -->
            <div>
                <label class="et-label" for="description">Lesson description:</label>
                <textarea class="w-full h-20" maxlength="255" name="description"
                          placeholder="Course description"
                          style="border: 1px solid #6b7280 !important; border-radius: 0 !important">[[${lesson!=null ? lesson.getDescription(): ''}]]</textarea>
            </div>
            <!-- Content -->
            <div>
                <label class="et-label" for="content">Lesson content:</label>
                <textarea class="w-full h-60" maxlength="1000" name="content"
                          onchange="changeInput()"
                          placeholder="Course description"
                          required
                          style="border: 1px solid #6b7280 !important; border-radius: 0 !important">[[${course!=null ? course.getContent(): ''}]]</textarea>
            </div>
        </div>
        <!-- Buttons -->
        <div class="flex flex-col mt-4 gap-4 w-full">
            <button class="et-button-good w-full h-14 px-2"
                    id="btn-save"
                    type="submit">
                Save
            </button>
            <button class="et-button-bad h-10 px-2"
                    onclick="window.location.href=this.getAttribute('data-redirect')"
                    th:data-redirect="${btnUndo}"
                    type="button">
                Delete course
            </button>
        </div>
    </form>
    <!-- If error -->
    <div class="mt-1" th:if="${error}">
        <span class="text-red-400 p-2" th:text="${error}"></span>
    </div>
</div>
</body>
<script>
    function changeInput() {
        let saveButton = document.getElementById("btn-save");
        let lessonTitle = document.getElementsByName("title")[0].value;
        let lessonContent = document.getElementsByName("content")[0].value;
        if (lessonTitle.toString().length > 0 && lessonContent.toString().length > 0) {
            saveButton.classList.remove("et-button-disabled");
            return;
        }
        saveButton.classList.add("et-button-disabled");
    }
</script>
</html>