<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lessons</title>
    <meta th:replace="common/meta"/>
</head>
<body>
<div th:replace="common/errors"/>
<!-- Header with logo, logout and breadcrumbs -->
<div th:replace="common/header"></div>
<!-- Content -->
<div class="et-content">
    <button id="btn-new-lesson" class="et-button-primary w-full h-12"
            th:onclick="'document.location=\'/professor/courses/'+${course.getId()}+'/lessons/new\''">New lesson
    </button>
    <!-- Iterate over lessons -->
    <div th:each="lesson: ${lessons}" class="et-card p-5 w-100">
        <div class="flex flex-row justify-items-center gap-5">
            <!-- Title -->
            <a th:text="${lesson.getTitle()}" th:href="'/professor/courses/'+${course.getId()}+'/lessons/'+${lesson.getId()}"
               class="et-name text-2xl font-bold">Lesson's
                name</a>
        </div>
        <!-- Description -->
        <p th:text="${lesson.description}" class="et-description mt-4">
            Some nice description of the lesson.
        </p>
        <!-- Lesson Content button -->
        <button id="btn-lesson-content-edit"
                th:onclick="'document.location=\'/professor/courses/'+${lesson.getCourse().getId()}+'/lessons/'+${lesson.getId()}+'/edit\''"
                class="et-button-primary w-28">Modify
        </button>
    </div>
</div>
</body>
</html>